html {
  font-size: 18px;
  line-height: 1.4;
}

.main-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  height: 30rem;
}

.top-menu {
  width: 960px;
  position: relative;
  top: 1rem;
  margin: 0 auto;
  background-color: cadetblue;
  color:white;
  font-family: helvetica, sans-serif;
  font-size: 1rem;
}

nav ul {
  display: flex;
  align-items:center;
  justify-content: flex-end;
  padding: 1rem 0rem 1rem 0rem;
}

nav ul li {
  padding: 0rem 2rem 0rem 2rem;
}

#main-banner_left {
  width: 960px;
  display: flex;
  align-items:center;
  justify-content: flex-start;
  padding-left:1rem;
}

#main-banner_left p{
  color:white;
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  padding-left:2rem;
}

.punch-line-container {
  width: 960px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 10rem;
  margin: 0 auto;
}

.punch-line {
  background-color: white;
  position: relative;
  margin-right: -2rem;
}

.punch-line h2 {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem 1.5rem 5rem;
}

.main-content {
width: 960px;
position: relative;
top: 3rem;
margin: auto;
}

.offerings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
  height: 12rem;
}

/*.offerings img {
  margin-right: 6rem;
}*/

.exams {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 5rem;
  margin-right: 8rem;
  height: 11rem;
}

.fittings, .delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 5rem;
  margin-right: 6rem;
  height: 11rem;
}

.paper-icon {
  width: 3.5rem;
}

.ruler-icon {
  width: 5rem;
}

.truck-icon {
  width: 5rem;
}

.offerings-text {
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}
